<footer>
    <div class="xwrapper ">
        <div class="flex-row gap-9 items-center">
            <nav class="menu-footer">
                <ul class="grid-3c-auto">
                    <li>
                        <ul class="main-footer__list">
                            <li class="mb-6">
                                <strong>Частным лицам</strong>
                            </li>
                            <li>
                                <a href="#">Банковские карты</a>
                            </li>
                            <li>
                                <a href="#">Кредиты</a>
                            </li>
                            <li>
                                <a href="#">Вклады</a>
                            </li>
                            <li>
                                <a href="#">Ипотека</a>
                            </li>
                            <li>
                                <a href="#">Страхование</a>
                            </li>
                            <li>
                                <a href="#">Сейфовые ячейки</a>
                            </li>
                            <li>
                                <a href="#">Открытие счетов</a>
                            </li>
                            <li>
                                <a href="#">Обмен валюты</a>
                            </li>
                            <li>
                                <a href="#">Переводы</a>
                            </li>
                            <li>
                                <a href="#">Маркетплейс</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="main-footer__list">
                            <li class="mb-6">
                                <strong>Бизнесу</strong>
                            </li>
                            <li>
                                <a href="#">Экспресс-МСБ</a>
                            </li>
                            <li>
                                <a href="#">Расчетно-кассовое обслуживание</a>
                            </li>
                            <li>
                                <a href="#">Онлайн резервирование счета</a>
                            </li>
                            <li>
                                <a href="#">Внешнеэкономическая деятельность</a>
                            </li>
                            <li>
                                <a href="#">Зарплатный проект</a>
                            </li>
                            <li>
                                <a href="#">Овердрафт</a>
                            </li>
                            <li>
                                <a href="#">Кредит</a>
                            </li>
                            <li>
                                <a href="#">Лизинг</a>
                            </li>
                            <li>
                                <a href="#">Депозиты</a>
                            </li>
                            <li>
                                <a href="#">Банковские гарантии</a>
                            </li>
                            <li>
                                <a href="#">Факторинг</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="main-footer__list">
                            <li class="mb-6">
                                <strong>О банке</strong>
                            </li>
                            <li>
                                <a href="#">Новости</a>
                            </li>
                            <li>
                                <a href="#">Вакансии</a>
                            </li>
                            <li>
                                <a href="#">Офисы</a>
                            </li>
                            <li>
                                <a href="#">Инвестиционные услуги</a>
                            </li>
                            <li>
                                <a href="#">О банке</a>
                            </li>
                            <li>
                                <a href="#">Реквизиты</a>
                            </li>
                            <li>
                                <a href="#">Тарифы</a>
                            </li>
                            <li>
                                <a href="#">Монеты</a>
                            </li>
                            <li>
                                <a href="#">Непрофильные активы</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div>
                <div class="footer-contacts flex-col">
                    <div class="flex-col"><a class="footer-contacts__tel semibold-text"
                            href="tel:+78007755606">8 800 775-56-06</a>
                        <span>Для звонков по России (бесплатно)</span>
                    </div>
                    <div class="flex-col"><a class="footer-contacts__tel semibold-text"
                            href="tel:+78007755606">+7 495 232-37-23</a>
                        <span>Для блокировка карт (круглосуточно)</span>
                    </div>
                    <ul class="flex-row">
                        <li><a href="#"><img src="./assets/images/tg.svg" alt="telegram"></a></li>
                        <li><a href="#"><img src="./assets/images/vk.svg" alt="vk"></a></li>
                        <li><a href="#"><img src="./assets/images/ok.svg" alt="ok"></a></li>
                        <li><a href="#"><img src="./assets/images/twitter.svg" alt="twitter"></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="xwrapper">
        <div class="flex-col">
            <div class="footer__helps">
                <p><a href="#">FATCA</a>
                    <a href="#">Страхование и другие услуги НФО</a>
                    <a href="#">Общие условия предоставления банковских гарантий в АО «Солид Банк»</a>
                    <a href="#">Памятки по финансовой безопасности</a>
                    <a href="#">Обеспечение защиты прав потребителей финансовых услуг</a>
                </p>
                <p><a href="#">Методика определения справедливой стоимости финансовых инструментов</a>
                    <a href="#">Политика в отношении обработки персональных данных</a>
                    <a href="#">Лица, ответственные за сведения на сайте</a>
                    <a href="#">Аудиторская компания</a>
                    <a href="#">Надзорные органы</a>
                </p>
                <p> <a href="#">Информация о процентных ставках по договорам банковского вклада с физическими лицами</a>
                    <a href="#">Информация, связанная с совершением Банком действий, предусмотренных пунктом 5.6 статьи
                        7 ФЗ
                        N
                        115</a>
                </p>
            </div>
            <div class="footer__copyright">
                <div>
                    <p>© 2004-2021, АО «Солид Банк» , официальный сайт, генеральная лицензия ЦБ РФ № 1329.</p>
                    <a href="https://rasa.pro/" target="_blank">
                        <p>Разработка сайта - <span>RASA</span>
                        </p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</footer>