.asked__quest
  div 
    img(src="./assets/images/ask.jpg", alt="ask")
    h5 Часто задаваемые вопросы
  label(for="asks_view")
  select#asks_view(name="asks_view") 
    option(value='') Как подать заявку на автокредит?

