.search__panel
  .search__panel--title
    h2 Выбери себе авто
    button
      span Свернуть список машин
      svg(width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M7.25 4.25L4 0.75L0.75 4.25" stroke="#760135" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
  .search__panel--panel
    .filter__group
      label(for="car-brand") Марка
      select#car-brand(name="car-brand")
        option(value="") Выбрать
        option(value="KIA") KIA
        option(value="Skoda") Skoda
        option(value="Citroen") Citroen
        option(value="Mercedes-Benz") Mercedes-Benz
        option(value="Honda") Honda
    .filter__group
      label(for="car-year") Год
      select#car-year(name="car-year")
        option(value="") Выбрать
        option(value="2023") 2023
        option(value="2022") 2022
        option(value="2021") 2021
    .filter__group
      label Цена
      .price-range
        input#price-from(type="number" placeholder="От" min="0")
        input#price-to(type="number" placeholder="До" min="0")
