<main>
    <section class="hero">
        <div class="xwrapper">
            <div class="hero__content">
                <div class="flex-row justify-between">
                    <div>
                        <ul class="hero__content--menu">
                            <li><a href="#">Главная</a></li>
                            <li><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.5">
                                        <path
                                            d="M8.78132 7.99999L5.48132 4.69999L6.42399 3.75732L10.6667 7.99999L6.42399 12.2427L5.48132 11.3L8.78132 7.99999Z"
                                            fill="#131313" />
                                    </g>
                                </svg>
                            </li>
                            <li><a href="#">Кредит</a></li>
                            <li><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.5">
                                        <path
                                            d="M8.78132 7.99999L5.48132 4.69999L6.42399 3.75732L10.6667 7.99999L6.42399 12.2427L5.48132 11.3L8.78132 7.99999Z"
                                            fill="#131313" />
                                    </g>
                                </svg>
                            </li>
                            <li><a href="#">Автокредит</a></li>

                        </ul>
                        <div class="hero__content--title">
                            <h1 class="semibold-text">Автокредит от 7,5% годовых</h1>
                            <p>на покупку авто у дилера или частного лица</p>
                            <a class="hero__content--button medium-text" href="#">Оформить</a>
                        </div>
                    </div>
                    <div class="hero__image">
                        <img src="./assets/images/audi_banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="flex-row justify-between">
                <h2>Выберите себе авто</h2>
                <button type="button" class="hidden-cars semibold-text"><span>Свернуть список машин</span><span><svg
                            width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.25 14.25L12 10.75L8.75 14.25" stroke="#760135" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>


                    </span></button>
            </div>
            <div class="panel-controls flex-row justify-between">
                <div class="car-brand flex-col">
                    <label for="car-brand" class="semibold-text">Марка</label>
                    <select name="brand" id="car-brand">
                        <option value="">Выбрать</option>
                        <option value="audi">Audi</option>
                        <option value="bmw">BMW</option>
                        <option value="honda">Honda</option>
                        <option value="kia">Kia</option>
                        <option value="mercedes">Mercedes-Benz</option>
                        <option value="nissan">Nissan</option>
                        <option value="suzuki">Suzuki</option>
                        <option value="toyota">Toyota</option>
                        <option value="volkswagen">Volkswagen</option>
                    </select>
                </div>
                <div class="car-year flex-col">
                    <label for="car-year" class="semibold-text">Год</label>
                    <select name="year" id="car-year">
                        <option value="">Выбрать</option>
                        <option value="audi">Audi</option>
                        <option value="bmw">BMW</option>
                        <option value="honda">Honda</option>
                        <option value="kia">Kia</option>
                        <option value="mercedes">Mercedes-Benz</option>
                        <option value="nissan">Nissan</option>
                        <option value="suzuki">Suzuki</option>
                        <option value="toyota">Toyota</option>
                        <option value="volkswagen">Volkswagen</option>
                    </select>
                </div>
                <div class="car-price flex-col">
                    <label for="price-min" class="semibold-text">Цена</label>
                    <div class="flex-row">
                        <input type="number" id="price-min" name="price-min" min="0" placeholder="От">
                        <div class="utils-line-row-span"></div>
                        <input type="number" id="price-max" name="price-max" min="0" placeholder="До">
                    </div>
                </div>
            </div>

            <div class="car-list">
                <div class="flex-col">
                    <div class="cart-list__best flex-row">
                        <div class="best__title flex-col">
                            <span class="best__title--success medium-text">Лучшее предложение</span>
                            <h3 class="medium-text">Renault Arkana drive</h3>
                            <p class="regular-text">Купе-кроссовер Renault ARKANA — автомобиль, созданный с чистого
                                листа.
                                В нем все по-новому: от дизайна кузова до эргономики салона. Получилось эмоционально и
                                надежно — оцените сами!</p>
                            <span class="medium-text">от 1 316 000 ₽</span>
                            <a href="#" class="best__title--more"><span>Подробнее</span><svg width="18" height="18"
                                    viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.3125 5.0625L14.4375 9L10.3125 12.9375" stroke="#760135"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M14.25 9H3.5625" stroke="#760135" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                        <div class="slider-container">
                            <div class="slider-wrapper">
                                <div class="slider">
                                    <img src="./assets/images/redslider3.png" alt="Renault Arkana drive">
                                    <img src="./assets/images/redslider2.png" alt="Renault Arkana drive">
                                    <img src="./assets/images/redslider4.png" alt="Renault Arkana drive">
                                    <img src="./assets/images/redslider1.png" alt="Renault Arkana drive">
                                </div>
                            </div>
                            <div class="slider-controls">
                                <button type="button" class="prev"><img src="./assets/images/chevron2.svg"
                                        alt="slide-prev"></button>
                                <button type="button" class="next"><img src="./assets/images/chevron2.svg"
                                        alt="slide-next"></button>
                            </div>
                        </div>
                    </div>
                    <div class="cart-list__best flex-row">
                        <div class="best__title flex-col">
                            <span class="best__title--success medium-text">Лучшее предложение</span>
                            <h3 class="medium-text">Volkswagen Tiguan PA</h3>
                            <p class="regular-text">Купе-кроссовер Renault ARKANA — автомобиль, созданный с чистого
                                листа.
                                В нем все по-новому: от дизайна кузова до эргономики салона. Получилось эмоционально и
                                надежно — оцените сами!</p>
                            <span class="medium-text">от 2 395 000 ₽</span>
                            <a href="#" class="best__title--more"><span>Подробнее</span><svg width="18" height="18"
                                    viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.3125 5.0625L14.4375 9L10.3125 12.9375" stroke="#760135"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M14.25 9H3.5625" stroke="#760135" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                        <div class="slider-container">
                            <div class="slider-wrapper">
                                <div class="slider">
                                    <img src="./assets/images/sliderblack4.png" alt="Renault Arkana drive">
                                    <img src="./assets/images/sliderblack2.png" alt="Renault Arkana drive">
                                    <img src="./assets/images/sliderblack3.png" alt="Renault Arkana drive">
                                    <img src="./assets/images/sliderblack1.png" alt="Renault Arkana drive">
                                </div>
                            </div>
                            <div class="slider-controls">
                                <button type="button" class="prev"><img src="./assets/images/chevron2.svg"
                                        alt="slide-prev"></button>
                                <button type="button" class="next"><img src="./assets/images/chevron2.svg"
                                        alt="slide-next"></button>
                            </div>
                        </div>
                    </div>
                    <div class="cart-list__best flex-row">
                        <div class="best__title flex-col">
                            <span class="best__title--success medium-text">Лучшее предложение</span>
                            <h3 class="medium-text">BMW X7</h3>
                            <p class="regular-text">Купе-кроссовер Renault ARKANA — автомобиль, созданный с чистого
                                листа.
                                В нем все по-новому: от дизайна кузова до эргономики салона. Получилось эмоционально и
                                надежно — оцените сами!</p>
                            <span class="medium-text">от 8 188 000 ₽</span>
                            <a href="#" class="best__title--more"><span>Подробнее</span><svg width="18" height="18"
                                    viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.3125 5.0625L14.4375 9L10.3125 12.9375" stroke="#760135"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M14.25 9H3.5625" stroke="#760135" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                        <div class="slider-container">
                            <div class="slider-wrapper">
                                <div class="slider">
                                    <img src="./assets/images/slidergray4.png" alt="Renault Arkana drive">
                                    <img src="./assets/images/slidergray2.png" alt="Renault Arkana drive">
                                    <img src="./assets/images/slidergray3.png" alt="Renault Arkana drive">
                                    <img src="./assets/images/slidergray1.png" alt="Renault Arkana drive">
                                </div>
                            </div>
                            <div class="slider-controls">
                                <button type="button" class="prev"><img src="./assets/images/chevron2.svg"
                                        alt="slide-prev"></button>
                                <button type="button" class="next"><img src="./assets/images/chevron2.svg"
                                        alt="slide-next"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-list__catalog" id="main-catalog"></div>
            </div>
            <article class="not-found-car">
                <p class="medium-text">Не нашли автомобиль у нас, но нужен автокредит? <a class="semibold-text"
                        href="#">Перейдите к форме
                        заявки</a></p>
            </article>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="credit">
                <h2>Общие условия</h2>
                <div class="flex-col">
                    <div class="credit--option medium-text"><strong>Срок</strong><span>от 6 месяцев до 6 лет.</span>
                    </div>
                    <div class="utils-line-row-span"></div>
                    <div class="credit--option medium-text"><strong>Сумма</strong><span>от 200 000 до 5 000 000
                            руб.</span></div>
                    <div class="utils-line-row-span"></div>
                    <div class="credit--option medium-text"><strong>Годовая процентная ставка:</strong><span>от 7,5 %
                            *.</span>
                    </div>
                    <div class="utils-line-row-span"></div>
                    <div class="credit--option medium-text"><strong>Возможность приобретения авто у частного
                            лица</strong></div>
                    <div class="utils-line-row-span"></div>
                    <a class="medium-text" href="#">Смотреть полные условия кредита <span><svg width="24" height="24"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.75 8.75L14.25 12L10.75 15.25" stroke="#760135" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span></a>
                </div>
            </div>
        </div>
    </section>
    <article>
        <div class="container">
            <div class="faq flex-row items-center justify-between">
                <div class="faq__title flex-row">
                    <img src="./assets/images/Question.svg" alt="texture">
                    <h4 class="medium-text">Часто задаваемые вопросы</h4>
                </div>
                <label for="faq">
                    <select name="faq" id="faq">
                        <option value="Как подать заявку на автокредит?">Как подать заявку на автокредит?</option>
                        <option value="bmw">BMW</option>
                        <option value="honda">Honda</option>
                        <option value="kia">Kia</option>
                        <option value="mercedes">Mercedes-Benz</option>
                        <option value="nissan">Nissan</option>
                        <option value="suzuki">Suzuki</option>
                        <option value="toyota">Toyota</option>
                        <option value="volkswagen">Volkswagen</option>
                    </select>
                </label>
            </div>
        </div>
    </article>
</main>