doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My site
        link(rel="stylesheet" href="./assets/css/styles.css")
    body
        include ./assets/components/header.pug
        include ./assets/components/main.pug
        include ./assets/components/footer.pug
        script(src="./assets/js/main.js") 
        script(src="./assets/js/slider.js")
        script(src="./assets/hiddenNavigation.js")
