footer {
  margin-top: 100px;
  margin-bottom: 32px;

  .container--replace {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 60px;
  }
}

.footer__main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 32px 0px 32px 0;
  font-family: 'IBM Plex Sans';
  .footer__main--list {
    margin-right: 0; //36px
    min-width: 200px;
    flex: 1;
    h5 {
      font-family: 'IBM Plex Sans';
      font-weight: 500;
      font-size: 17px;
      line-height: 100%;
      margin-bottom: 16px;
    }
    ul {
      font-family: 'IBM Plex Sans';
      font-size: 15px;
      line-height: 100%;
      font-weight: 400;

      &.gap10 {
        gap: 10px;
      }
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        a {
          color: #484a4d;
        }
      }
    }
  }
  .texture {
    max-width: 1px;
    max-height: 299px;
    margin-right: 16px;
    border-left: 1px solid #e6e7eb;
  }
  .footer__main--list__tel {
    padding-top: 20px;
    .footer__main--list__tel__a,
    .footer__main--list__tel__b {
      margin-bottom: 24px;
      a {
        color: #760135;
        width: 303px;
        height: 31px;
        font-family: 'IBM Plex Sans';
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
      }
      p {
        margin-top: 8px;
        width: 303px;
        height: 17px;
        font-family: 'IBM Plex Sans';
        font-weight: 400;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #babcc2;
      }
    }

    .footer__main--list__tel__c {
      display: flex;
      align-items: center;
      gap: 24px;
      border-radius: 9px;
      padding-top: 8px;
      padding-left: 0px;
      .footer__main--list__tel__c__tg,
      .footer__main--list__tel__c__tv,
      .footer__main--list__tel__c__ok,
      .footer__main--list__tel__c__wk {
        background-color: #e6e7eb;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 46px;
        width: 46px;
        border-radius: 9px;
      }
    }
  }
}
.footer__footer {
  margin-bottom: 8px;
  margin-right: 4px;
  a {
    white-space: normal;
    max-width: 1320px;
    top: 32px;
    left: 60px;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #7e7f85;
    margin-right: 4px;
  }
  hr {
    margin-top: 16px;
    color: #e0e1e6;
  }
  .SOLIDRASA {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #606266;
    a {
      display: flex;
      align-items: center;
      line-height: 100%;
      text-decoration: none;
      font-size: 13px;
      color: #606266;

      span {
        color: #009ee2;
        font-size: 13px;
      }
    }
  }
}
