// Переменные для всяких полезных штучек
$side-padding: 60px;
$color-primary: #0d0d0d;
$color-side: #8d8d8d;
$color-secondary: #313133;
$theme-primary: #760135;
$theme-success: #25b456;

// ШРИФТЫ
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBMPlexSans-Medium.woff') format(woff), url('../fonts/IBMPlexSans-Medium.woff2') format(woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBMPlexSans-Regular.woff') format(woff), url('../fonts/IBMPlexSans-Regular.woff2') format(woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBMPlexSans-SemiBold.woff') format(woff), url('../fonts/IBMPlexSans-SemiBold.woff2') format(woff2);
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans';
  background-color: #f7f9fa;

  .container__content {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 170px; //********!!!!!
  }

  a {
    text-decoration: none;
  }
}
